body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    background-color: #000;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: url('assets/gh3.jpg') no-repeat center center/cover;
    z-index: -1;
    filter: blur(2px) brightness(0.6);
  }
  
  .container {
    padding-top: 30px;
  }

  .profile-pic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgb(14, 13, 13);
  margin: 20px auto;
  display: block;
  z-index: 2;
  position: relative;
}

  h2 {
    margin-bottom: 20px;
  }
  
  .link-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    padding: 12px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    backdrop-filter: blur(5px);
    transition: 0.3s;
  }
  
  .btn i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .btn:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  .cod-username {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}
#uiddisplay {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: #2299dd;
  padding: 10px 18px;
  border-radius: 8px;
  font-family: monospace;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(243, 14, 155, 0.859);
}




.cod-username i {
  margin-right: 5px;
  color: #facc15; /* yellow gamepad icon */

}
